/* TraitIcon */
.TraitIcon {
  width: 50px;
  height: 50px;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, .3);
  content: ""; }


.TraitIcon > .TextOuter,
.TraitIcon > .CategoryOuter {
  display: flex; align-items: center;
  height: 100%; }
.TraitIcon > .TextOuter {
  width: 100%;
  border-radius: inherit; border: 1px solid rgba(0, 0, 0, .3); }
.TraitIcon > .TextOuter > .value { 
  width: 100%; text-align: center;
  font-size: 11px; line-height:16px; }

.TraitIcon > .CategoryOuter > .Image {
  height: fit-content; }

.TraitIcon .RollOuter,
.TraitIcon .HealOuter,
.TraitIcon .DurationOuter {
  position: relative; }

.TraitIcon > .RollOuter,
.TraitIcon > .FrameOuter {
  height: 100%; width: 100%;
  border-radius: inherit; }

.TraitIcon > .RollOuter {
  background-color: #eee; }

.TraitIcon .RollOuter > .Image,
.TraitIcon .DurationOuter > .Image {
  height: 100%; width: 100%; }
.TraitIcon .HealOuter > .Image {
  display: block;
  height: 30px;
}
.TraitIcon > .RollOuter > .Value {
  position: absolute;
  left: 31px; top:24px;
  color: white;
  font-size: 19px;
  font-weight: bold; }
.TraitIcon > .DurationOuter > .Value {
  position: absolute;
  left: 25px; top:15px;
  width: 30px; margin-left: -15px;
  color: #425c92;
  font-size: 22px; text-align: center;
  font-weight: bold; }
.TraitIcon .HealOuter > .Value {
  position: absolute;
  left: 16px; top:2px;
  width: 30px; margin-left: -15px;
  color: white;
  font-size: 20px; text-align: center;
  font-weight: bold; }

.TraitIcon > .FrameOuter > .FrameTitle {
  text-align: center;
  color: white;
  font-size: 11px;
  line-height: 17px; }
.TraitIcon > .FrameOuter > .FrameInner {
  border-radius: inherit;
  display: flex; flex-direction: row;
  align-items: stretch; justify-content: center;
  margin: 0 3px;
  height: 31px;
  background-color: white; }
.TraitIcon .FrameInner > .prefix { 
  font-size: 20px; line-height: normal;
  height: 100%;
  display: flex;
  align-items: center; }
.TraitIcon .FrameInner > .prefix.arrow { padding-bottom: 3px; }
  
.TraitIcon .FrameInner > .value { font-size: 20px; font-weight: bold; margin: 3px 2px; }
.TraitIcon .FrameInner > .AlwaysMark { font-size: 20px; font-weight: bold; color: #4cbb4c; line-height: normal; }
.TraitIcon .FrameInner > .NeverMark { font-size: 20px; font-weight: bold; color: #e02a2a; line-height: normal; }
.TraitIcon .FrameInner > .RollOuter { height: 30px; }
.TraitIcon .FrameInner > .RollOuter > .Value {
  position: absolute;
  left: 18px; top:10px;
  color: white;
  font-size: 12px;
  font-weight: bold; }


/* Color-Theme */
.FrameOuter.user { background-color: var(--icon-user-color); }
.FrameOuter.foe  { background-color: var(--icon-foe-color); }
.FrameOuter.low-acc { background-color: black; }
.FrameOuter.reaction { background-color: var(--icon-reaction-color); }
.FrameOuter.heal { background-color: var(--icon-heal-color); }
.FrameOuter.paralysis { background-color: #d4c53e; }
.FrameOuter.burn1 { background-color: #ff7f1a; }
.FrameOuter.burn2 { background-color: #cc0500; }
.FrameOuter.burn3 { background-color: #960703; }
.FrameOuter.sleep { background-color: #a7ab99; }
.FrameOuter.poison { background-color: #a574af; }
.FrameOuter.poison2 { background-color: #672b73; }
.FrameOuter.freeze { background-color: #86e0de; }
.FrameOuter.flinch { background-color: #4a537b; }
.FrameOuter.love { background-color: #f54e78; }
.FrameOuter.confuse { background-color: #1cb579; }
.FrameOuter.disabled { background-color: #ff3600; }

.FrameInner.low-acc { background-color: #ff2424 !important; color: white; }
.FrameInner.user { color: var(--icon-user-color); }
.FrameInner.foe { color: var(--icon-foe-color); }
.FrameInner.reaction { color: var(--icon-reaction-color); }
.FrameInner.heal { color: white; }
