/* Global customization */

:root {
  --code-max-height: 60rem;
}

/* Light mode theming */
:root,
:root[color-theme="light"] {
  --header-background: #982320;
  --header-font-color: #ffffff;

  --body-background: #ffffff;
  --body-font-color: #343a40;

  --mark-color: #ffab00;

  --button-background: #62cb97;
  --button-border-color: #4ec58a;

  --link-color: #518169;
  --link-color-visited: #c54e8a;

  --code-background: #f5f6f8;
  --code-accent-color: #e3e7eb;
  --code-accent-color-lite: #eff1f3;
  --code-font-color: #5f5f5f;

  --code-copy-background: #f5f6f8;
  --code-copy-font-color: #6b7784;
  --code-copy-border-color: #adb4bc;
  --code-copy-success-color: #00c853;

  --accent-color: #e9ecef;
  --accent-color-lite: #fbf0fb;

  --control-icons: #b2bac1;

  --footer-background: #2a2525;
  --footer-font-color: #ffffff;
  --footer-link-color: #ffcc5c;
  --footer-link-color-visited: #ffcc5c;
}

:root {
  --poke-bug-type-color: #AABB22;
  --poke-dark-type-color: #775544;
  --poke-dragon-type-color: #7766EE;
  --poke-electric-type-color: #FFCC33;
  --poke-fairy-type-color: #FFAAFF;
  --poke-fight-type-color: #BB5544;
  --poke-fire-type-color: #FF5C42;
  --poke-flying-type-color: #84ADFF;
  --poke-ghost-type-color: #6666BB;
  --poke-grass-type-color: #5EB83A;
  --poke-ground-type-color: #DDBB55;
  --poke-ice-type-color: #77DDFF;
  --poke-poison-type-color: #AA5599;
  --poke-psychic-type-color: #FF99C2;
  --poke-rock-type-color: #BBAA66;
  --poke-steel-type-color: #AAAABB;
  --poke-water-type-color: #3399FF;
  
  --icon-buff-color: #20b1ff;
  --icon-debuff-color: #ff2424;
  --icon-reaction-color: #56a0a4;
  --icon-heal-color: #F8ABA6;
}

:root h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--footer-background);
}
:root h3 {
  margin-bottom: 0;
  font-size: 1.3rem;
  color: var(--header-background);
}
:root h4 {
  margin-top: .5em;
  margin-bottom: 0;
}
:root p {
  margin-block-start: .5em;
}

/* MoveCard */
.MoveCard { width: 100%; max-width: 650px; }
.MoveCard > .Header { 
  display:flex;
  flex-direction:row;
  align-items: center;
  background-color: rgba(255, 255, 255, .5); }
.MoveCard > .Header > div { 
  height: 45px;
  display: flex;
  align-items: center;}
.MoveCard > .Header > .Name {
  flex-grow: 1;
  padding: 0 .5em;
  font-size: 1.2em;
  font-weight: bold;
  color: black; }
.MoveCard > .Header > .Power {
  padding: 0 .5em;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, .5); }
.MoveCard > .Header > .Category { 
  width: fit-content; flex-shrink: 0;
  background-color: rgba(0, 0, 0, .5); }
.MoveCard > .Header > .Category img { height: 100%; }
.MoveCard > .Body > .Traits {
  display: flex; flex-direction: row; flex-wrap: wrap;
  margin: 5px; gap: 5px;
}
.MoveCard > .Body > .Info { 
  display: flex; flex-direction: column;
  margin: 5px;
  padding: 5px;
  color: black;
  background-color: rgba(255, 255, 255, .3); }
.MoveCard > .Body > .Info .ExtraEffect {
  padding: 5px 8px;
}
.MoveCard > .Footer { 
  padding: 3px 5px;
  font-size: .8em;
  text-indent: .5em;
  color: #eee;
  background-color: rgba(0, 0, 0, .3); }

.MoveCard.Bug { background-color: var(--poke-bug-type-color); }
.MoveCard.Dark { background-color: var(--poke-dark-type-color); }




.TraitIcon {
  width: 50px;
  height: 50px;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, .3);
  content: ""; }

.TraitIcon > .RollOuter,
.TraitIcon > .FrameOuter {
  height: 100%; width: 100%;
  border-radius: inherit; }

.TraitIcon > .RollOuter,
.TraitIcon > .DurationOuter {
  background-color: #eee; }

.TraitIcon .RollOuter,
.TraitIcon .HealOuter,
.TraitIcon .DurationOuter {
  position: relative; }

.TraitIcon .RollOuter > .Image,
.TraitIcon .DurationOuter > .Image {
  height: 100%; width: 100%; }
.TraitIcon .HealOuter > .Image {
  display: block;
  height: 30px;
}
.TraitIcon > .RollOuter > .Value {
  position: absolute;
  left: 31px; top:24px;
  color: white;
  font-size: 19px;
  font-weight: bold; }
.TraitIcon > .DurationOuter > .Value {
  position: absolute;
  left: 25px; top:15px;
  width: 30px; margin-left: -15px;
  color: #425c92;
  font-size: 22px; text-align: center;
  font-weight: bold; }
.TraitIcon .HealOuter > .Value {
  position: absolute;
  left: 16px; top:2px;
  width: 30px; margin-left: -15px;
  color: white;
  font-size: 20px; text-align: center;
  font-weight: bold; }

.TraitIcon > .FrameOuter > .FrameTitle {
  text-align: center;
  color: white;
  font-size: 11px;
  line-height: 17px; }
.TraitIcon > .FrameOuter > .FrameInner {
  border-radius: inherit;
  display: flex; flex-direction: row;
  align-items: baseline; justify-content: center;
  margin: 0 3px;
  height: 31px;
  background-color: white; }
.TraitIcon .FrameInner > .arrow { font-size: 25px; }
.TraitIcon .FrameInner > .value { font-size: 20px; font-weight: bold; margin: 3px 2px; }
.TraitIcon .FrameInner > .RollOuter { height: 30px; }
.TraitIcon .FrameInner > .RollOuter > .Value {
  position: absolute;
  left: 18px; top:10px;
  color: white;
  font-size: 12px;
  font-weight: bold; }

.FrameOuter.buff { background-color: var(--icon-buff-color); }
.FrameOuter.debuff { background-color: var(--icon-debuff-color); }
.FrameOuter.low-acc { background-color: black; }
.FrameOuter.reaction { background-color: var(--icon-reaction-color); }
.FrameOuter.heal { background-color: var(--icon-heal-color); }
.FrameOuter.paralysis { background-color: #d4c53e; }
.FrameOuter.burn1 { background-color: #ff7f1a; }
.FrameOuter.burn2 { background-color: #cc0500; }
.FrameOuter.burn3 { background-color: #960703; }
.FrameOuter.sleep { background-color: #a7ab99; }
.FrameOuter.poison { background-color: #a574af; }
.FrameOuter.poison2 { background-color: #672b73; }
.FrameOuter.frozen { background-color: #86e0de; }
.FrameOuter.flinch { background-color: #4a537b; }
.FrameOuter.love { background-color: #f54e78; }
.FrameOuter.confuse { background-color: #1cb579; }
.FrameOuter.disabled { background-color: #ff3600; }

.FrameInner.low-acc { background-color: #ff2424 !important; color: white; }
.FrameInner.buff { color: var(--icon-buff-color); }
.FrameInner.debuff { color: var(--icon-debuff-color); }
.FrameInner.reaction { color: var(--icon-reaction-color); }
.FrameInner.heal { color: white; }
