{{ $typeValArr  := slice "Bug" "Dark" "Dragon" "Electric" "Fairy" "Fighting" "Fire" "Ghost" "Grass" "Ground" "Ice" "Normal" "Poison" "Psychic" "Rock" "Steel" "Water" }}
{{ $typeTextArr := slice "蟲" "惡" "龍" "電" "妖精" "格鬥" "火" "幽靈" "草" "地面" "冰" "一般" "毒" "超能" "岩" "鋼" "水" }}

<script src="{{ .Site.BaseURL }}/data/move-list.js"></script>
<script>
  const searcher = new MySearcher("Move", MOVES, (data) => {
    return renderMove(data, {isCollapsed:true});
  }, doFilter);
  window.addEventListener("load", function(event){
    searcher.Search(0);
  });
  document.addEventListener("Move-search", function(event){
    searcher.Search(event.detail.page);
  });

  function doFilter(data, searchText) {
    // Filter Name & Alias
    if (searchText != "") {
      const key = searchText.toLowerCase();
      if (!data.name.toLowerCase().includes(key)
        && !data.alias.toLowerCase().includes(key)) {
        return false;
      }
    }
    // Filter Types
    const params = getFilterParams();
    if (params.typeSelector.length > 0) {
      if (!params.typeSelector.includes(data.type.toLowerCase())) return ;
    }
    return true;
  }

  function getFilterParams() {
    const params = {};

    params.text = document.getElementById("search-move-text-input")?.value || "";
    params.typeSelector = Utils.allPokeTypes().filter((typeText) => {
      const elem = document.getElementById(`search-move-type-${typeText.capitalize()}`);
      return elem && elem.checked;
    });

    return params;
  }
</script>

<div class="MySearcher-OuterFrame">
  <div class="SearchPanel">
    {{- partial "my-search-text" (dict "ID" "Move") }}

    <!-- Type Select -->
    <div class="SelectorContainer">
      {{ range $index, $val := $typeValArr }}
        <label class="SelectorLabel {{ $val }}TypeBgColor">
          <input id="search-move-type-{{ $val }}" class="HiddenCheckbox" type="checkbox" onchange="searcher.Search(0)" />
          <span>{{ index $typeTextArr $index }}</span>
        </label>
      {{ end }}
    </div>

  </div>

  {{- partial "my-search-datablock" (dict "ID" "Move") }}
</div>