{{ $typeValArr  := slice "Bug" "Dark" "Dragon" "Electric" "Fairy" "Fighting" "Fire" "Ghost" "Grass" "Ground" "Ice" "Normal" "Poison" "Psychic" "Rock" "Steel" "Water" }}
{{ $typeTextArr := slice "蟲" "惡" "龍" "電" "妖精" "格鬥" "火" "幽靈" "草" "地面" "冰" "一般" "毒" "超能" "岩" "鋼" "水" }}

<script src="{{ .Site.BaseURL }}/data/move-list.js"></script>
<script>
  const pageSize = 50;
  const searchRetArray = [];

  window.onload = init();

  function init() {
    setTimeout( ()=>{
      search();
    }, 100);
  }

  function search(idx = 0) {
    const nameSearchInput = document.getElementById("search-move-text-input").value;
    doFilter(MOVES);

    renderPagination(searchRetArray.length, idx);
    renderMoves(searchRetArray.slice(idx*pageSize, (idx+1)*pageSize));
  }
  function doFilter(dataArr) {
    searchRetArray.length = 0;

    const params = getFilterParams();  
    dataArr.forEach(data => {
      // Filter Name & Alias
      if (params.text != "") {
        const key = params.text.toLowerCase();
        if (!data.name.toLowerCase().includes(key)
          && !data.alias.toLowerCase().includes(key)) {
          return ;
        }
      }
      // Filter Types
      if (params.typeSelector.length > 0) {
        if (!params.typeSelector.includes(data.type.toLowerCase())) return ;
      }

      searchRetArray.push(data);
    });
    return searchRetArray;
  }

  function renderMoves(itemArr) {
    const elem = document.getElementById("TheMoveList");
    elem.innerHTML = itemArr.map( obj => renderMove(obj, {isCollapsed: true})).join('');
  }
  function renderPagination(total, activeIdx) {
    const pageNum = Math.ceil(total / pageSize);
    const elems = [
      document.getElementById("search-page-1"),
      document.getElementById("search-page-2")
    ]
    
    // Clear
    for (let elem of elems) {
      elem.innerHTML = "";
    }
    // Append
    for (let i=0; i<pageNum; i++) {
      const isActive = (activeIdx === i);
      for (let elem of elems) {
        elem.innerHTML += `<div class="PageBtn ${isActive? "active": "clickable"}" ${isActive? "": `onClick="search(${i})"`}>${i+1}</div>`;
      }
    }
  }

  function getFilterParams() {
    const params = {};

    params.text = document.getElementById("search-move-text-input")?.value || "";
    params.typeSelector = Utils.allPokeTypes().filter((typeText) => {
      const elem = document.getElementById(`search-move-type-${typeText.capitalize()}`);
      return elem && elem.checked;
    });

    return params;
  }
</script>


<div class="MoveInfo-OuterFrame">
  <div class="Searcher-OuterFrame">
    <!-- Text -->
    <div class="TextSearcherContainer">
      <input class="TextSearcher" id="search-move-text-input" type="text" onchange="search()" />
      <span class="searchicon"></span>
    </div>

    <!-- Type Select -->
    <div class="SelectorContainer">
      {{ range $index, $val := $typeValArr }}
        <label class="SelectorLabel {{ $val }}TypeBgColor">
          <input id="search-move-type-{{ $val }}" class="HiddenCheckbox" type="checkbox" onchange="search()" />
          <span>{{ index $typeTextArr $index }}</span>
        </label>
      {{ end }}
    </div>

    <!-- Pagination-top -->
    <div id="search-page-1" class="Pagination"></div>
  </div>

  <div id="TheMoveList" style="display:flex; flex-direction: column; gap:1px;"></div>

  <!-- Pagination-bottom -->
  <div id="search-page-2" class="Pagination"></div>
</div>